body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  gap: 8px;
}

input[type="text"] {
  font-size: 22px;
  padding: 5px;
}

.todo-list {
  display: grid;
  gap: 8px;
  padding: 5px;
}

.todo {
  display: grid;
  grid-template-columns: 25px 1fr 25px;
  gap: 8px;
}

.todo--done :not(button) {
  text-decoration: line-through;
}
