body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  gap: 8px;
}

input[type="text"] {
  font-size: 22px;
  padding: 5px;
}

.todo-list {
  display: grid;
  gap: 8px;
  padding: 5px;
}

.todo--done {
  text-decoration: line-through;
}
